@model ContosoAirlines.Models.QandAModel

<div class="font-semibold font-title">
    Hello, World
</div>

<p>
    Don't welcome Microsoft Teams Hello World sample app (C#)
</p>

<p>
    @ContosoAirlines.Models.QandA.Questions.Count
    questions
</p>

@foreach (var q in Model.Questions)
{
    <div>
        (@q.Votes)
        @q.Text
        @if (Model.IsQuestionAnswered[q.MessageId])
        {
            <div> ANSWERED </div>
        }
        else
        {
            <div> NOT ANSWERED </div>
        }
    </div>
    <br />
}

<script>
    var x = setInterval(function() {
        window.location.reload(true);
    }, 10 * 1000); // 10s 
</script>